html,
body {
  margin: 0;
  padding: 0;
}

.body {
  display: flex;
  flex-direction: row;
}

.sideBar {
  flex: 0 0 1;
  width: 200px;
  padding: 10px;
  border-right: 1px solid #111;
  height: 100vh;
  background: #e1e1e1;
}

.sideBarItem {
  border: 1px solid #000;
  border-radius: 3px;
  padding: 10px;
  margin-top: 10px;
  background: #ccc;
}

.page {
  flex: 1 1 auto;
  padding: 10px;
  margin: 10px;
  border: 1px solid green;
  // background-image: radial-gradient(#212121 20%, #fff 20%);
  // background-position: 0 0;
  // background-repeat: space;
  // background-size: 20px 20px;
}

.dropZone {
  flex: 0 0 auto;
  height: 10px;
  transition: 200ms all;
}

.dropZone.horizontalDrag {
  min-width: 10px;
  height: auto;
}


.sectionContainer {
  & > .dropZone.horizontalDrag {
    width: auto;
  }

  .subSectionContainer {
    width: auto;
    min-height: 40px;
  
    & > .dropZone.horizontalDrag.isLast:only-child {
      width: 100%;
    }
  } 

}

.dropZone:not(.horizontalDrag).isLast {
  flex: 1 1 auto;
}

.dropZone.active {
  background: #00a2ff;
  transition: 100ms all;
}


.component {
  padding: 10px;
  background: #aaa;
}

.subSection {
  border: 1px solid blue;
  flex: 1 1 100%;
}

.subSectionContainer,.sectionContainer {
  display: flex;
  padding: 10px 0;
}


.base {
  background-color: white;
  cursor: move;
}

.section {
  border: 1px solid red;
  padding: 0;
}

.pageContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.component.draggable {
  border: 1px dashed black;
  padding: 0.5rem 1rem;
  background-color: white;
  cursor: move;
}

.sectionContainer,.componentContainer {
  display: flex;
  flex-direction: row;
}

.componentContainer {
  flex-wrap: wrap;
  min-height: 60px;
  & > .dropZone.horizontalDrag.isLast:only-child {
    width: 100%;
  }
}

.sectionLabel,.subSectionLabel {
  display: block;
}

.sectionTabs {
  float: right;
  .tabBtn {
    margin: 5px 10px;
    background-color: #008CBA; /* Green */
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
  }
}